@charset "utf-8";

/* html非破壊型css */

html
{
	background: #FFFFFF;
	color: #000000;
	margin: 0;
	padding: 0;
}

h1
{
	background: #000000;
	color: #2E8B57;
	margin: -25px 0 0 -25px;
	padding: 10px 0 10px 40px;
	width: 500px;
	height: 30px;
	line-height: 30px;
}

h2
{
	border-bottom: 1px dashed #000000;
	margin: 20px 0 20px 0;
	padding: 5px 0 5px 10px;
	width: 300px;
	height: 20px;
	line-height: 20px;
}

ul, p
{
	margin-top: 15px;
	margin-bottom: 30px;
}

ul
{
	list-style-image: url("./listicon.gif");
}

li
{
	margin-top: 5px;
}

p
{
	/*padding-left: 50px;*/
	/*padding-right: 40px;*/
}

p#wear
{
	display:none;
}

h2#画像集 + p, p + p
{
	text-align: center;
	padding-right: 0;
}

img
{
	border: 1px solid #000000;
	margin-left: 40px;
	width: 100px;
	height: 100px;
}

a, a:link, a:visited
{
	text-decoration: none;
	font-weight: bold;
	background: #FFFFFF;
	color: #2E8B57;
}

div#lgbviewer
{
	text-align:center;
	margin-top:30px;
}

div#backtoindex
{
	background-color:#ffffff;
	width :400px;
	height: 30px;
	padding-bottom:10px;
	
	position:relative;
	top:25px;
	left:450px;
}

div#backtoindex a
{
	display: block;
	background-color: #000000;
	
	width: 300px;
	padding-right:100px;
	height: 14px;
	line-height: 14px;
	padding-top:8px;
	padding-bottom:8px;
	
	text-align: right;
}
