@charset "utf-8";

body {
    border: none;
    margin: 0;
    width: auto;
}

h1#ライフゲームbot {
    color: #FFFFFF;
    background-color: #2E8B57;
    margin: 0;
    padding: 0 0 0 100px;
    height: auto;
    min-height: 100px;
    line-height: 100px;
    width: auto;
    text-align: left;
    letter-spacing: 5px;
    overflow: visible;
    
    background-image: url("./lgbpimg/dummy_invert.png");
    background-position: left;
    background-repeat: no-repeat;
}

div#lgbplayer {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
}

div#lgbp_middleman {
    margin-top: 20px;
    width: 100%;
    padding: 0;
    min-height: 100px;
}

div#lgbp_counter {
    width: 250px;
    padding-left:60px;
    padding-top:45px;
}

div#lgbp_image {
    width: 100px;
    height: 100px;
    padding: 50px 15px 0 0;
}

div#lgbp_APIbutton {
    width: 280px;
    padding: 0;
}

h2#LifeGameBotPlayer {
    display: block;
    width: 300px;
    padding:15px 30px 15px 0;
    color: #2E8B57;
    font-size: 20px;
    font-family: 'Impact', serif;
    font-weight: lighter;
    background-color: #FFFFFF;
    border-top: 3px solid #2E8B57;
    border-right: 3px solid #2E8B57;
    border-bottom: 3px solid #2E8B57;
    border-left: none;
    border-radius: 0 5px 5px 0;
    letter-spacing: 3px;
    text-align:center;
    line-height:18px;
    margin:50px 0 0 0;
}

div#lgbp_controlbutton {
    padding: 5px;
    width: auto;
    color: #ffffff;
    background-color: #FFFFFF;
    clear:both;
}

div#lgbp_controlbutton ul {
    border: 3px solid #2E8B57;
    border-radius: 5px;
    padding: 5px;
    display: block;
    width: 270px;
    margin:0 auto;
    overflow: hidden;
}

div#lgbp_APIbutton ul li:nth-child(odd){
    margin-right: 5px;
}

div#lgbp_APIbutton ul li:nth-child(even){
    margin-right: 15px;
}

div#backtoindex {
    width: 100%;
    background-color: #2E8B57;
    position: static;
    left: 0;
    bottom: 0;
    
    margin-top: 50px;
    padding-top: 25px;
    height: 75px;
}

div#backtoindex a {
    color: #2E8B57;
    background-color: #FFFFFF;
    
    height: 50px;
    line-height: 50px;
    padding: 0  20px 0 0;
    border-radius: 0 5px 5px 0;
}
